
<div class="main">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>

      <div class="picsum-img-wrapper">
        <div class="card my-auto mx-auto" style="width: 18rem;">
          <div class="container back"></div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>

      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">

        <div class="picsum-img-wrapper">
          <div class="card my-auto mx-auto" style="width: 18rem;">
            <div class="container back"></div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">

        <div class="picsum-img-wrapper">
          <div class="card my-auto mx-auto" style="width: 18rem;">
            <div class="container back"></div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
