<div class="setting-form container">
  <h1 class="mb-5">New Pig settings</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group" >
      <div class="mt-3">
        <label class="text-muted">TYPE</label>
        <select class="form-select form-control" id="power" name="type" required [(ngModel)]="model.type">
          <option *ngFor="let type of types, let ind=index" [value]="type">{{type}}</option>
        </select>
      </div>

      <div class="mt-3">
        <label class="text-muted">Budget Limit</label>
        <input type="text" class="form-control" id="budgetLimit" required [(ngModel)]="model.budgetLimit"
               name="budgetLimit" />
      </div>

      <div class="mt-3">
        <label class="text-muted">Rate</label>
        <input type="text" class="form-control" id="rate" required [(ngModel)]="model.rate" name="rate" />
      </div>

      <div class="mt-3">
        <label class="text-muted">Period</label>
        <input type="text" class="form-control" id="period" required [(ngModel)]="model.period" name="period" />
      </div>
      <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
        <label class="form-check-label" for="disabledFieldsetCheck">
          Activate automatically
        </label>
      </div>
      <a routerLink="/pigBanks" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button type="submit" class="mt-5 btn btn-primary">Save</button>
      </a>
    </div>
  </form>
</div>
