

<div class="container">
  <div class="card-header">

    <div class="mt-5 d-flex justify-content-around">
      <h1 class="mt-4 ps-4">My piggies</h1>
      <i class="bi bi-plus"></i>
    </div>
  </div>
  <ngb-carousel class="py-1" *ngIf="1">
    <ng-template *ngFor="let pigBank of [1, 2, 3, 5, 6, 7, 3, 1, 1, 1, 1, 1, 1]" ngbSlide>
      <div class="rounded-top picsum-img-wrapper">
        <div class="card my-auto mx-auto mb-5 pb-5" style="width:  25rem; height: 300px">
          <div class="container-fluid back">

            <div class="pig d-flex flex-column align-items-center justify-content-center">
              <i class="bi bi-gear py-0 ms-3 align-self-start"></i>
              <i class="bi bi-hammer py-0 ms-3 align-self-start"></i>
              <img class="w-50" src="./assets/pig.png" alt="">
              <ngb-progressbar type="info" [value]="50">Copying file <b>2 of 4</b>...</ngb-progressbar>

            </div>
          </div>
          <div class="card-body shadow-lg rounded-bottom">
            <h2 class="card-title text-center mb-5">Food piggy</h2>
            <p class="card-text mt-5 mx-5">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </ng-template>

  </ngb-carousel>
</div>
